build: false

environment:
    PYTHON: "C:\\Python27"
    PYTHON_VERSION: "2.7.8"
    PYTHON_ARCH: "32"

    matrix:
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSION: 14
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CONAN_VISUAL_VERSION: 15


install:
  - set PATH=%PATH%;%PYTHON%/Scripts/
  - pip.exe install conan --upgrade
  - conan user # It creates the conan data directory

test_script:
  - mkdir build
  - cd build
  - conan install .. -s compiler="Visual Studio" -s compiler.version=%CONAN_VISUAL_VERSION%
  - conan build ..
  - bin\batteries.exe
